.btns {
  display: flex;
  justify-content: center;
}
.btn {
  margin: 5px;
  padding: 8px;
  background-color: black;
  color: white;
}
#imgId {
  width: 500px;
  height: 500px;
  border-radius: 15px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}
