.boxWrap {
  background-color: beige;
}
.box {
  width: 100px;
  height: 100px;
  background-color: blue;
  color: white;

  /* div를 가운데로 정렬렬 */
  margin: auto;

  /* 텍스트를 가운데로 정렬하는 방법 */
  text-align: center;
  line-height: 100px;
}
