.boxWrap {
    background-color: beige;
    height: 100vh;
    min-height: fit-content;
}
/* 설문조사 */
.box1{
    border-top: 18px solid rgb(230, 200, 163);
    /* width: 500px; */
    background-color: white;
    margin: 15px auto;
    padding: 20px;
    border-radius: 15px;
    max-width: 500px;
}
/* 이름 이메일 */
.box2 {
    /* width: 500px; */
    background-color: white;
    margin: 15px auto;
    padding: 20px;
    border-radius: 15px;
    border-left: 10px solid rgb(239, 215, 183);
    max-width: 500px;
}
[.box2::placeholder]

/* .box2:focus-within{
    border-left: 8px solid rgb(239, 215, 183);
    box-shadow: 0px 0px 5px 5px #ccc;
} */
/* 나이 */
.box3 {
    /* width: 500px; */
    background-color: white;
    margin: 15px auto;
    padding: 20px;
    border-radius: 15px;
    border-left: 8px solid rgb(239, 215, 183);
    max-width: 500px;
}
/* .box3:focus-within{
    border-left: 8px solid rgb(239, 215, 183);
    box-shadow: 0px 0px 5px 5px #ccc;
} */
/* 설문조사 카테고리 */
.box4 {
    /* width: 500px; */
    background-color: white;
    margin: 15px auto;
    padding: 20px;
    border-radius: 15px;
    border-left: 8px solid rgb(239, 215, 183);
    max-width: 500px;
}
/* .box4:focus-within{
    border-left: 8px solid rgb(239, 215, 183);
    box-shadow: 0px 0px 5px 5px #ccc;
} */
/* 원하는 강의 */
.box5 {
    /* width: 500px; */
    background-color: white;
    margin: 15px auto;
    padding: 20px;
    border-radius: 15px;
    border-left: 8px solid rgb(239, 215, 183);
    max-width: 500px;
}
/* .box5:focus-within{
    border-left: 8px solid rgb(239, 215, 183);
    box-shadow: 0px 0px 5px 5px #ccc;
} */
/* 하고 싶은 말 */
.box6 {
    /* width: 500px; */
    background-color: white;
    margin: 15px auto;
    padding: 20px;
    border-radius: 15px;
    border-left: 8px solid rgb(239, 215, 183);
    max-width: 500px;
}
/* .box6:focus-within{
    border-left: 8px solid rgb(239, 215, 183);
    box-shadow: 0px 0px 5px 5px #ccc;
} */

/* 버튼 오른쪽 정렬 */
.box6{
    text-align: right;
}

/* textarea 커스텀 */
.textarea_custom{
    width: 500px;
    height: 140px;
    display: flex;
    margin: 0px auto;
}