.ti {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.box {
  display: flex;
  background-color: rgb(231, 230, 230);
  justify-content: space-between;
  padding: 10px 15px;
  font-weight: bolder;
}
